<main class="user">
    <div class="container">
        <div>
        {if isset($try) && $try}
            <p style='color:red;'>Uncorrect input data</p>
        {/if}
        <form action="{$path}login" method="post">
            <label for="nick">Nick:</label>
            <input type="text" name="nick" id="password" />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
            <input type="submit" value="Login" />
        </form>
        </div>
    </div>
</main>