@font-face {
    font-family: 'FontAwesome';
    src: url('/netarticles/fonts/fontawesome-webfont.eot');
    src: url('/netarticles/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/netarticles/fonts/fontawesome-webfont.woff2') format('woff2'), url('/netarticles/fonts/fontawesome-webfont.woff') format('woff'), url('/netarticles/fonts/fontawesome-webfont.ttf') format('truetype'), url('/netarticles/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: inherit;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
}

body {
    /*display: flex;*/
}

input[type=submit], button {
    outline: none;
    border: none;
    cursor: pointer;
}

header {
    width: 200px;
    height: 100%;
    background-color: rgb(32, 49, 49);
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 3;
}

header > div {
    padding: 25px 0;
}

header h1 {
    color: ghostwhite;
    font-size: 25px;
}

header h2 {
    color: #bfbfbf;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: -5px;
}

header nav {
    background-color: rgba(255, 255, 255, .1);
}

header nav div a {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: cadetblue;
}

header nav div:hover {
    background-color: rgba(255, 255, 255, .2);
}

header nav div.active {
    background-color: white;
}

header nav div.active a {
    background-color: rgba(95, 158, 160, .1);
}

main {
    width: calc(100% - 200px);
    height: 100%;
    position: absolute;
    margin-left: 200px;
    background-color: rgba(95, 158, 160, .1);
    padding-top: 70px;
}

main div.add {
    background-color: rgb(32, 49, 49);
    box-shadow: 2px -4px 24px 3px black;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

main div.add form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

main div.add form input {
    padding: 6px;
    font-size: 12px;
}

main div.add form input[type=submit], main div.add form button {
    height: 35px;
    width: 35px;
    font-weight: bold;
    margin-right: 10px;
    background-color: rgba(142, 159, 159, 0.7);
}

main div.add form input[type=submit]:hover, main div.add form button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main div.add form input[type=submit]:active, main div.add form button:active {
    background-color: rgba(255, 255, 255, 0.4);
}

main div.add form input[type=text] {
    width: 200px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 0;
    color: rgb(220, 220, 220);
}

main div.message {
    padding: 9px;
    background: linear-gradient(to bottom, rgba(158, 167, 167, 0.4), rgba(158, 167, 167, 0.68));
    box-shadow: 2px 4px 12px -4px black;
    position: absolute;
    width: 100%;
    top: 35px;
}

main div.message p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

main .holder {
    padding-left: 35px;
}

main .holder form {
    margin-bottom: 10px;
}

main .holder input[type=text], main .holder p {
    width: 200px;
    padding: 10px 30px;
    margin-right: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

main .holder p {
    margin-bottom: 10px;
    padding: 0 !important;
}

main .holder p a {
    padding: 10px 40px;
}

main .holder input[type=submit], main .holder button {
    margin-right: 10px;
    padding: 10px 25px;
    background-color: rgba(128, 128, 128, .1);
}

main .holder select {
    margin-right: 10px;
    border: 0;
    padding: 10px 25px;
    width: 200px;
    text-transform: uppercase;
}

main .holder img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0;
    right: 0;
}

main .select {
    background-color: rgb(32, 49, 49);
    box-shadow: 2px -4px 24px 3px black;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(220, 220, 220);
    padding: 11px 10px 10px 10px;
}

.ico-edit::before {
    content: "\f040";
    font-family: FontAwesome;
}

.ico-delete::before {
    content: "\f1f8";
    font-family: FontAwesome;
}