@font-face {
    font-family: 'FontAwesome';
    src: url('/netarticles/fonts/fontawesome-webfont.eot');
    src: url('/netarticles/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/netarticles/fonts/fontawesome-webfont.woff2') format('woff2'), url('/netarticles/fonts/fontawesome-webfont.woff') format('woff'), url('/netarticles/fonts/fontawesome-webfont.ttf') format('truetype'), url('/netarticles/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #191919;
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.container {
    margin: auto;
    max-width: 1600px;
}

@media (max-width: 1600px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* ------------- utility ------------- */
.button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 50px;
    background-color: #bb0303;
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.products > span {
    position: relative;
    font-size: 36px;
    font-weight: bold;
}

.products > span::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    width: 75%;
    left: 0;
    background: #bb0303;
}

.products .row > div {
    padding: 15px;
    width: 16%;
}

.products .row div img {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.products .row p {
    text-align: center;
    font-size: 18px;
}

.products .row > div a:nth-child(2) {
    position: relative;
    margin-top: 20px;
    margin-left: 17px;
    padding: 1.5px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #bb0303;
}

.products .row > div a:nth-child(2) > span {
    position: relative;
    color: #bb0303 !important;
}

.products .row > div a:nth-child(2) > span span {
    position: absolute;
    top: -5px;
    right: -54px;
    color: black!important;
}

.products .row > div a:nth-child(2) > span span::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #bb0303;
}

.products .row > div a:nth-child(2)::before {
    position: absolute;
    display: block;
    top: 50%;
    left: -34px;
    font-family: 'FontAwesome';
    font-size: 24px;
    content: "\f07a";
    color: white;
    background: #bb0303;
    padding: 3px 7px 3px 5px;
    transform: translateY(-50%);
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stars .star:not(:last-child) {
    margin-right: 5px;
}

.stars .star::before {
    font-family: 'FontAwesome';
    content: "\f005";
    color: #faa91c;
}

/* ------------- header ------------- */
header {
    padding: 15px;
}

header .subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 a {
    font-size: 60px;
    color: black;
}

header form {
    display: flex;
}

header form input,
header form button {
    display: block;
    border: 1px solid #191919;
    padding: 5px 10px;
}

header form input[type=text] {
    width: 350px;
}

header form button::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
}

header .user,
header .cart {
    position: relative;
    font-size: 18px;
}

header .user::before,
header .cart::before {
    position: absolute;
    display: block;
    content: "\f007";
    font-family: FontAwesome;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
}

header .user::before {
    content: "\f007";
    left: -35px;
}

header .cart::before {
    content: "\f07a";
    z-index: -1;
    left: 0;
}

header .cart a {
    padding: 6px 0px 6px 35px;
}

header ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

header li {
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

header li:not(:last-child) {
    margin-right: 10px;
}

/* ------------- main home ------------- */
main.home .baner {
    background: #e2e4de;
}

main.home .baner .container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main.home .baner .container > * {
    width: 40%;
}

main.home .baner .container img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

main.home .baner .container p:first-child {
    font-size: 40px;
    margin-bottom: 20px;
}

main.home .baner .container p {
    font-size: 14px;
}

main.home .sales,
main.home .newest {
    padding: 40px;
}

main.home .sales {
    background: white;
}

main.home .newest {
    background: #fafafa;
}

/* ------------- main product ------------- */

main.home.product {
    background: #f2f4ee;
}

main.home.product .container {
    padding-bottom: 20px;
    padding-top: 20px;
}

main.home.product .container div.row {
    align-items: center;
}

main.home.product .container div.row > * {
    width: 40%;
}

main.home.product .container div.row:not(:first-child) {
    justify-content: center;
}

main.home.product .container div.row:not(:first-child) p {
    font-size: 19px;
}

main.home.product .container div.row:not(:first-child) p:nth-child(1) {
    text-align: right;
    padding-right: 5px;
}

main.home.product .container div.row:not(:first-child) p:nth-child(2) {
    text-align: left;
    padding-left: 5px;
}

main.home.product .container img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

main.home.product .container div.row:first-child p:first-child {
    font-size: 40px;
    margin-bottom: 20px;
}

main.home.product .container p {
    font-size: 14px;
}

main.home.product a {
    position: relative;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 1.5px;
    width: 170px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid #bb0303;
}

main.home.product a > span {
    position: relative;
    color: #bb0303 !important;
}

main.home.product a > span span {
    position: absolute;
    top: -5px;
    right: -54px;
    color: black !important;
}

main.home.product a > span span::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #bb0303;
}

main.home.product a::before {
    position: absolute;
    display: block;
    top: 50%;
    left: -34px;
    font-family: 'FontAwesome';
    font-size: 24px;
    content: "\f07a";
    color: white;
    background: #bb0303;
    padding: 3px 7px 3px 5px;
    transform: translateY(-50%);
}

/* ------------- main user ------------- */

main.user .container div {
    display: table;
    margin: 30px auto;
}

main.user .container div p,
main.user .container div input,
main.user .container div label{
    text-align: center;
}

main.user .container div input,
main.user .container div label {
    display: block;
    width: 100%;
}

main.user .container div p:not(:last-child),
main.user .container div input{
    margin-bottom: 10px;
}

/* ------------- main cart ------------- */

main.cart .container > p {
    margin: 40px 0;
    font-size: 35px;
    color: #380101;
    text-align: center;
}

main.cart img {
    width: 50%;
    margin: 0 auto;
}

main.cart p {
    text-align: center;
}

main.cart .row {
    align-items: center;
    padding: 20px 0;
}

main.cart .container {
    background-color: #fafafa;
}

main.cart .container:not(:first-child) {
    border-top: 3px solid #e0e0e0;
}

main.cart input[type=text] {
    display: block;
    text-align: center;
    width: 50px;
    margin: 0 auto;
}

main.cart .row > div {
    width: 25%;
}

main.cart .row p:first-child {
    font-weight: bold;
    font-size: 17px;
}

main.cart form {
    position: relative;
}

main.cart input[type=submit] {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    font-size: 18px;
}

/* ------------- footer ------------- */
footer .subfooter {
    padding: 40px;
}

footer .subfooter:nth-child(1) {
    background: #0d2233;
}

footer .container,
footer .subfooter:nth-child(1) .container > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .subfooter:nth-child(2) {
    background: #04050a;
}

footer .subfooter span {
    position: relative;
    font-size: 36px;
    font-weight: bold;
}

footer .subfooter span::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    width: 75%;
    left: 0;
    background: #bb0303;
}

footer .subfooter:nth-child(1) .container > div {
    width: 40%;
}

footer .subfooter:nth-child(1) .container > div:nth-child(2) {
    width: 40%;
}

footer .subfooter:nth-child(1) .container > div:nth-child(1) p {
    font-style: italic;
}

footer .subfooter:nth-child(1) .container > div:nth-child(2) p {
    font-size: 24px;
}

footer .subfooter:nth-child(1) ul li {
    font-size: 16px;
}

footer span,
footer li,
footer p,
footer a {
    color: #f2f2f2;
}

footer .subfooter:nth-child(2) .container > div:nth-child(1) {
    margin-left: 40px;
    position: relative;
}

footer .subfooter:nth-child(2) .container > div:nth-child(1)::before {
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    content: "\f095";
    font-family: 'FontAwesome';
    color: white;
    font-size: 30px;
}

footer .subfooter:nth-child(2) .container > div:nth-child(2) p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

footer .subfooter:nth-child(2) ul {
    list-style: none;
    display: flex;
}

footer .subfooter:nth-child(2) ul li {
    padding: 10px;
}

footer .subfooter:nth-child(2) ul li::before {
    font-family: 'FontAwesome';
    color: black;
    background: white;
    border-radius: 50%;
    font-size: 25px;
}

footer .subfooter:nth-child(2) ul li:nth-child(1)::before {
    content: "\f09a";
    padding: 7px 12px;
}

footer .subfooter:nth-child(2) ul li:nth-child(2)::before {
    content: "\f1a0";
    padding: 7px 10px;
}

footer .subfooter:nth-child(2) ul li:nth-child(3)::before {
    content: "\f099";
    padding: 7px 9px;
}

footer .subfooter:nth-child(2) ul li:nth-child(4)::before {
    content: "\f16d";
    padding: 7px 10px;
}
