<div class="add">
    <form action="{$path}panel/{$action}{if isset($curentCategory)}/{$curentCategory}{/if}" method="post">
        <input type="hidden" name="action" value="add" />
        <input type="text" name="name" />
        <input type="submit" value="+" />
    </form>
</div>